body {
  background-image: url('gallery 6.jpg');
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 35px;
  color: rgb(255, 253, 249);
  text-align: center;
  margin-top: 20px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

article {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  color: rgb(255, 253, 249);
}

footer {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px 20px;
  width: 100%;
  text-align: center;
  color: rgb(255, 253, 249);
}

a {
  text-decoration: none;
  color: rgb(255, 253, 249);
  font-size: 18px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin-top: 30px;
  display: block;
  text-align: center;
  margin-top: 30px;
  transition: background-color 0.3s ease;
  padding: 10px 10px;
  border-radius: 10px;
}
a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.small-image {
  width: 65px;
  height: auto;
  position: absolute;
  top: 10px;
  left: 20px;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.fade-in.active {
  opacity: 1;
}