/* Gaya umum badan dokumen */
body {
  font-family: 'Arial', sans-serif;
  background-image: url('gallery 4.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Menambahkan bayangan teks untuk meningkatkan legibilitas */
}

footer {
  width: 100%; /* Menetapkan lebar footer ke 100% dari lebarnya */
  display: flex; /* Menggunakan Flexbox */
  justify-content: center; /* Menyelaraskan item di tengah secara horizontal */
  align-items: center; /* Menyelaraskan item di tengah secara vertikal */
  padding: 20px 0; /* Memberikan padding atas dan bawah */
  position: absolute; /* Optional: Jika ingin footer selalu di bawah halaman */
  bottom: 0; /* Optional: Jika ingin footer selalu di bawah halaman */
}

/* Gaya header */
header h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

/* Styling for contact buttons */
.contact-button {
  background-color: rgba(255, 255, 255, 0.2); /* Slightly transparent white */
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px; /* Rounded corners for a smoother look */
  border: 2px solid white; /* White border to enhance visibility */
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease; /* Smooth transition for all properties */
  cursor: pointer;
}

.contact-button:hover, .contact-button:focus {
  background-color: rgba(255, 255, 255, 0.4); /* Increase visibility on hover */
  transform: translateY(-5px); /* Subtle lift effect */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4); /* Shadow for 3D effect */
}

/* Gaya tombol kembali */
.back-button {
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
  position: fixed; /* Menggunakan posisi tetap untuk memastikan tombol tetap terlihat di bagian bawah */
  bottom: 20px; /* Menyelaraskan tombol ke bawah */
  left: 50%; /* Menyelaraskan tombol ke tengah secara horizontal */
  transform: translateX(-50%); /* Menggeser tombol ke kiri sebesar 50% dari lebar tombol */
}

.back-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 0.3s ease; /* Hapus properti transform */
}